*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-image: url(photo12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}

.menu{
    width: 100px;
    float: left;
    height: 30px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: blue;
}

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --main-color:#d90429;
    --text-color:#020120;
    --bg-color:#fff;
}

.container{
    padding: 4rem 2rem;
}

img{
    width: 100%;
}

.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color:var(--bg-color);
    font-weight:400;
}

.btn:hover{
    background: #fd052f;
}

.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}

.main-heading{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding-top: 25px;
}

.parts-container{
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: o.5rem;
}

.parts-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}

.parts-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
}

.parts-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}

.parts-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}

.parts-container .box .btn{
    min-width: 120px;
}






