*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(tesla.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
   
.navbar {
    width: 1800px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px; 
    float: left;
    height: 70px;
}

.logo{
    color: white;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 90px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: white;
}

.search{
    width: 400px;
    float: left;
    margin-left: 800px;
}

.srch{
font-family: 'Times New Roman';
width: 200px;
height: 30px;
background: transparent;
border: 1px solid white;
margin-top: 13px;
color: black;
border-right: none;
font-size: 16px;
float: left;
padding: 10px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 30px;
    background: white;
    border: 2px solid white;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1800px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content .par{
    padding-left: 21px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: white;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px; 
    cursor: pointer;
    transition: .2s ease;
}

.content .cn a{
    text-decoration: none;
    color: red;
    transition: .1s ease;
}

.cn:hover{
    background-color: black;
}

.form{
    width: 300px;
    height: 250px;
    position: absolute;
    top: -80px;
    right: -50px;
    border-radius: 10px;
    padding: 40px;
}

.form h2{
   width: 220px;
   font-family: sans-serif;
   text-align: center;
   color: white;
   font-size: 22px;
   background-color: black;
   border-radius: 10px;
   margin: 2px;
   padding: 8px;
}
 
.form input{
    width: 220px;
    height: 30px;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 100px;
    height: 30px;
    background: white;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px; 
    cursor: pointer;
    color: red;
    transition: 0.1s ease;
}

.btnn:hover{
    background: black;
}

.btnn a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}


























